/* src/App.css */

/* 기본 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  background: #000; /* 배경 검정 */
  color: #C3E88D;   /* 글자 연녹 */
  font-family: 'Moneygraphy-Rounded', Consolas, 'Courier New', monospace;
  scroll-behavior: smooth;
}

/* 섹션 전체 */
section {
  width: 100%;
  min-height: 100vh;
  padding: 40px 20px;
}


/***********************
 *   반응형
 ***********************/
@media (max-width: 768px) {
  .images-container {
    flex-direction: column;
  }
  .main-header.bottom,
  .main-header.sticky {
    position: fixed;
  }
}